<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>留言板</title>
</head>

<body>
    <h1 style="text-align: center;">留言板</h1>
    <ul class="am-list am-list-static msgbox">
        {% for msg in msglist %}
        <li class="am-g">
            <h1>哈哈哈</h1>
        </li>
        {% endfor %}

    </ul>

    <form class="am-form inputbox" method="POST">
        <div class="am-form-group">
            <textarea name="msg" rows="4" id="msg"></textarea>
        </div>
        <p><button type="submit" class="am-btn am-btn-primary am-center">发送</button></p>
        </from>



</body>

</html>