{% extends "base.html" %}
{% block base %}

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">接口测试平台</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Settings</a></li>
				<li><a href="/out/">退出</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li>
					<a href="/project/">
						<i class="glyphicon glyphicon-th-large"></i>&nbsp&nbsp项目管理
					</a>
				</li>
				<li class="active">
					<a href="#">
						<i class="glyphicon glyphicon-th"></i>&nbsp&nbsp模块管理
					</a>
				</li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href=""><i class="glyphicon glyphicon-list-alt"></i>&nbsp&nbsp用例管理</a></li>
				<li><a href=""><i class="glyphicon glyphicon-book"></i>&nbsp&nbsp任务管理</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href=""><i class="glyphicon glyphicon-hdd"></i>&nbsp&nbspmock Server</a></li>
				<li><a href=""><i class="glyphicon glyphicon-wrench"></i>&nbsp&nbsp测试工具</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<h4 class="sub-header">模块列表</h4>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>名称</th>
							<th>描述</th>
							<th>创建时间</th>
							<th>项目id</th>
						</tr>
					</thead>
					<tbody>
						{% for module in modules %}
						<tr>
							<td>{{module.id}}</td>
							<td>{{module.name}}</td>
							<td>{{module.describe}}</td>
							<td>{{module.create_time}}</td>
							<td>{{module.project_id}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}