<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form action="/index/" method="post">
        <p>username:
            <input type="text" name="username" />
        </p>
        <p>password:
            <input type="password" name="password" />
        </p>
        <div style="color:blue">用户名密码错误</div>
        <input type="submit" value="Login" />
        <input type="hidden" name="csrfmiddlewaretoken"
            value="YuMFL59Tz6q8E6dwrkVz0YncFd5Uvu2Mb6cdJdzjIF5JjtxBgyO45eQSWDLlQE2a">
    </form>
</body>

</html>